{% extends "base.html" %}

{% block title %}
    Enviar Documento
{% endblock %}

{% block content %}
<h1>Enviar Documento</h1> <hr> <br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('documentos_bp.index') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="numero_identidad_destinatario" class="form-label">
                    {{ form.numero_identidad_destinatario.label }}</label>
                    {{ form.numero_identidad_destinatario(class='form-field') }}
                </div>
                <div class="form-group">
                    <label for="documento" class="form-label">
                    {{ form.documento.label }}</label>
                    {{ form.documento(class='form-field') }}
                </div>
                <button type="submit" class="btn-submit">
                    <h4> Enviar </h4>
                </button>
            </form> 
        </div>
    </div>
</div>
{% endblock %}